@using BlazorReactive.ViewModels;
@using ReactiveUI;
@implements IDisposable;

@if (BodyViewModel != null)
{
	<div style="display: flex; flex-direction: column; gap: 1rem;">
		@foreach (string item in BodyViewModel.FilteredItems)
		{
			<div>@item</div>
		}
	</div>
}

@code {

	[Parameter]
	public BodyViewModel? BodyViewModel { get; set; }

	[Parameter]
	public RenderCountViewModel? RenderCountViewModel { get; set; }

	private IDisposable? _filteredItemsSubscription;

	protected override void OnParametersSet()
	{
		if (BodyViewModel != null && _filteredItemsSubscription == null)
		{
			_filteredItemsSubscription = BodyViewModel
				.WhenAnyValue(x => x.FilteredItems)
				.Subscribe(_ =>
				{
					StateHasChanged();
				});
		}

		base.OnParametersSet();
	}

	protected override void OnAfterRender(bool firstRender)
	{
		if (RenderCountViewModel != null)
		{
			RenderCountViewModel.BodyListRenderCount++;
		}
		base.OnAfterRender(firstRender);
	}

	public void Dispose()
	{
		_filteredItemsSubscription?.Dispose();
	}

}
